:root {

/*Цвет фона*/
	--background-dark: #1c1c1c;
	--background-light: #292929;
	--background-verylight: #363636;
	--background-element: #39424f;
	--background-element-hover: #485363;
	--background-element-second: #384362;
	--background-wrapper: #313843;
	--background-wrapper-second: #0F1628;
	--background-fon: #292f39;
	--background-warning: #cf231d;

	--shadow-element: #1e1e1e;
	--shadow-warning: #ed1d15;

/*Цвет текста*/
  --color-white: #ffffff;
  --color-light: #bdbdbd;
  --color-dark: #1c1c1c;
  --color-warning: #f2aeae;

/*Выделение*/
  --highlighting: #323232;
}

body {
	background-color: var(--background-fon);
}

#main {
	position: relative;
	padding: 10px;
	width: 1240px;
	margin: 100px auto;
	border-radius: 20px;
}


#top-control {
	width: 100%;
	height: 47px;
	margin: 0px 0px 10px 0px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px var(--shadow-element);
	background-color: var(--background-wrapper);
	text-align: center;
}

.top-control-element {
	display: inline-block;
	float: right;
	margin: 0px 0px 0px 10px;
	padding: 12px;
	border-radius: 10px;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	transition: 0.3s;
}

.top-control-element:hover {
	background-color: var(--background-element-hover);
	color: var(--color-light);
}

#top-control-label{
	display: inline-block;
	padding: 3px 0px 0px 0px;
	color: #ffffff;
	font-size: 30px;
	font-weight: 400;
}

#main-compound-label {
	display: inline-block;
	width: 100%;
	margin: 0px 0px 10px 0px;
	padding: 10px 0px 13px 0px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px var(--shadow-element);
	background-color: var(--background-wrapper);
	color: var(--color-light);
	font-size: 24px;
	text-align: center;
}

#compound-box {
	display: inline-block;
	width: 100%;
}

.compound-list {
	position: relative;
	float: left;
	width: calc(50% - 30px);
	margin: 0px 10px 10px 0px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 1px var(--shadow-element);
	background-color: var(--background-wrapper);
}

.compound-login {
	display: inline-block;
	width: 61%;
	margin: 0px 5px 10px 0px;
	padding: 10px;
	border-radius: 5px;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 20px;
	text-align: center;
}

.compound-rank {
	display: inline-block;
	width: 28%;
	margin: 0px 5px 0px 0px;
	padding: 10px;
	border-radius: 5px;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 20px;
	text-align: center;
}

.compound-date {
	display: inline-block;
	width: 28%;
	margin: 0px 5px 0px 0px;
	padding: 10px;
	border-radius: 5px;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 20px;
}

.compound-armor-img-box {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 200px;
	border-radius: 5px;
	background-color: var(--background-fon);
	height: 250px;
	overflow: hidden;
}

.compound-armor-name {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 5px;
	z-index: 2;
	background-color: rgba(20, 20, 20, 0.6);
	text-align: center;
}

.compound-armor-img {
	width: 100%;
	transform: scale(1.8);
	z-index: 1;
	object-fit: cover;
}

.compound-squad-box {
	position: relative;
	width: 64%;
	height: 50px;
	margin: 10px 0px;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-size: 40px;
	background-position-x: 5px;
	background-position-y: 5px;
}

.compound-squad-name {
	position: absolute;
	top: 7px;
	right: 10px;
	color: #c7c7c7;
	font-size: 25px;
	font-weight: 500;
}

.attendance-box {
	display: inline-block;
	position: relative;
	width: 64%;
	height: 80px;
	color: #9c9c9c;
	font-size: 18px;
}

.attendance-label {
	display: inline-block;
	width: calc(100% - 5px);
	height: 30px;
	padding: 5px 0px 0px 5px;
	border-radius: 5px;
	background-color: var(--background-element);
	color: var(--color-light);
	text-align: center;
}

.attendance-was {
	float: left;
	width: calc(50% - 24px);
	height: 20px;
	margin: 7px 0px 0px 0px;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	background-color: var(--background-element);
	color: var(--color-light);
	text-align: left;
}

.attendance-wasnot {
	float: right;
	width: calc(50% - 24px);
	height: 20px;
	margin: 7px 0px 0px 0px;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	background-color: var(--background-element);
	color: var(--color-light);
	text-align: left;
}

.gun-box {
	display: inline-block;
	position: relative;
	margin: 0px 0px 0px 0px;
	width: 100%;
	height: 155px;
}

.compound-gun-img-box {
	position: absolute;
	top: 10px;
	left: 0px;
	width: 64%;
	height: 150px;
	border-radius: 5px;
	background-color: #1c1c1c;
	overflow: hidden;
}

.compound-gun-name {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 5px;
	z-index: 2;
	background-color: rgba(20, 20, 20, 0.6);
	text-align: center;
}

.compound-gun-img {
	width: 100%;
	transform: scale(1.10);
	margin: -160px 0px 0px 0px;
	object-fit: cover;
	z-index: 1;
}

.compound-second-box {
	position: absolute;
	right: 0px;
	margin: 10px 0px 0px 0px;
	width: 200px;
	height: 150px;
	border-radius: 5px;
	background-color: #1c1c1c;
}

.attendance-control-box {
	margin: 0px 0px 0px 0px;
}

.attendance-btn {
	width: 31%;
	height: 40px;
	margin: 10px 10px 0px 0px;
	border-radius: 5px;
	border: 2px solid var(--background-element);
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 18px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
	transition: 0.2s;
}

.attendance-btn:hover {
	border: 2px solid var(--background-element-hover);
	background-color: var(--background-element-hover);
	color: var(--color-light);
}

.attendance-btn-end {
	width: 33%;
	height: 40px;
	margin: 10px 0px 0px 0px;
	border-radius: 5px;
	border: 2px solid var(--background-element);
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 18px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
	transition: 0.2s;
}

.attendance-btn-end:hover {
	border: 2px solid var(--background-element-hover);
	background-color: var(--background-element-hover);
	color: var(--color-light);
}

#delete-user {
	float: right;
	width: 33%;
	margin: -40px 0px 0px 0px;
	border: 2px solid  #8a0000;
	background-color: #8a0000;
	color:  #292929;
}

#delete-user:hover {
	border: 2px solid  #ad0202;
	background-color: #ad0202;
	color: var(--color-light);
}

.blacklist-user {
	display: inline-block;
	width: 30%;
	height: 40px;
	margin: 10px 0px 0px 0px;
	border-radius: 5px;
	border: 2px solid  #919191;
	background-color: #1f1f1f;
	color:  #4a4a4a;
}

.blacklist-user:hover {
	border: 2px solid  #919191;
	background-color: #292929;
	color:  #919191;
}

#hooky-add-box {
	display: none;
	position: fixed;
	top: 250px;
	left: 50%;
	width: 500px;
	margin: 0px 0px 0px -250px;
	padding: 10px;
	border-radius: 20px;
	background-color: #1c1c1c;
	z-index: 10;
}

#hooky-сause-label {
	display: inline-block;
	width: calc(100% - 55px);
	height: 30px;
	padding: 10px 0px 5px 0px;
	border-radius: 10px;
	background-color: #292929;
	color: #919191;
	font-size: 20px;
	text-align: center;
}

#hooky-сause-close {
	display: inline-block;
	float: right;
	width: 45px;
	height: 35px;
	padding: 9px 0px 2px 0px;
	border-radius: 10px;
	background-color: #292929;
	color: #adadad;
	font-size: 20px;
	text-align: center;
	font-weight: 500;
	cursor: pointer;
	transition: 0.2s;
}

#hooky-сause-close:hover {
	background-color: #ffffff;
	color: #292929;
} 

#hooky-сause-text {
	width: calc(100% - 24px);
	height: 100px;
	margin: 10px 0px 0px 0px;
	padding: 10px;
	border: 2px solid #919191;
	border-radius: 10px;
	background-color: #1c1c1c;
	resize: none;
	outline: none;
	color: #919191;
	font-size: 20px;
}

#reserve-box {
	width: 100%;
}

#reserve-label {
	display: inline-block;
	width: 100%;
	padding: 10px 0px 13px 0px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px var(--shadow-element);
	background-color: var(--background-wrapper);
	color: var(--color-light);
	font-size: 24px;
	text-align: center;
}

.reserve-list {
	width: calc(100% - 20px);
	margin: 10px 0px 0px 0px;
	padding: 20px 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px var(--shadow-element);
	background-color: var(--background-wrapper);
	color: var(--color-light);
	font-size: 20px;
}

.reserve-login {
	display: inline-block;
	width: 200px;
	margin: 0px 20px 0px 0px;
}

.reserve-rank {
	display: inline-block;
	width: 150px;
	margin: 0px 20px 0px 0px;
}

.reserve-was {
	display: inline-block;
	width: 200px;
	margin: 0px 20px 0px 0px;
	text-align: center;
}

.reserve-wasnot {
	display: inline-block;
	width: 200px;
	margin: 0px 20px 0px 0px;
	text-align: center;
}

.reserve-date {
	display: inline-block;
	margin: 0px 20px 0px 0px;
}

.reserve-return-btn {
	display: inline-block;
	float: right;
	width: 220px;
	margin: -35px 0px 0px 0px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 20px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
	transition: 0.2s;

}

.reserve-return-btn:hover {
	background-color: var(--background-element-hover);
	color: var(--color-light);
}


#blacklist-box {
	width: 100%;
	margin: 30px 0px 0px 0px;
}

#blacklist-label {
	display: inline-block;
	width: 100%;
	padding: 10px 0px 13px 0px;
	border-radius: 10px;
	background-color: #292929;
	color: #ffffff;
	font-size: 24px;
	text-align: center;
}