:root {

/*Цвет фона*/
	--background-dark: #1c1c1c;
	--background-light: #292929;
	--background-verylight: #363636;
	--background-element: #39424f;
	--background-element-hover: #485363;
	--background-element-second: #384362;
	--background-wrapper: #313843;
	--background-wrapper-second: #0F1628;
	--background-fon: #292f39;
	--background-warning: #cf231d;

	--shadow-element: #1e1e1e;
	--shadow-warning: #ed1d15;

/*Цвет текста*/
  --color-white: #ffffff;
  --color-light: #bdbdbd;
  --color-dark: #1c1c1c;
  --color-warning: #f2aeae;

/*Выделение*/
  --highlighting: #323232;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--background-fon);
	font-family: 'Montserrat', sans-serif;
}

#auth {
	position: absolute;
	left: 50%;
	top: 300px;
	width: 800px;
	height: 170px;
	margin: 0px 0px 0px -400px;
	background: #1c1c1c;
	border-radius: 20px;
}

#welcome-text {
	color: #adadad;
	margin: 20px;
	font-size: 25px;
	text-align: center;
}

#link-auth {
	position: absolute;
	left: 50%;
	margin: 0px 0px 0px -119px;
	padding: 6px 10px 10px 10px;
	background-color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 10px;
	color: #1c1c1c;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
	transition: 0.2s;
}

#link-auth:hover {
	background-color: #1c1c1c;
	border-radius: 10px;
	color: #ffffff;
	text-decoration: none;
	padding: 6px 10px 10px 10px;
}

#main {
	position: relative;
	width: 1240px;
	margin: 100px auto;
	padding: 10px 10px 2px 10px;
	border-radius: 20px;
}

#exchequer-label {
	width: calc(100% - 20px);
	border-radius: 10px;
	margin: 0px 0px 20px 0px;
	padding: 10px 10px 15px 10px;
	box-shadow: 0px 0px 10px 0px var(--shadow-element);
	background-color: var(--background-wrapper);
	color: var(--color-light);
	font-size: 20px;
}

.exchequer-list {
	width: calc(100% - 20px);
	border-radius: 10px;
	margin: 0px 0px 10px 0px;
	padding: 10px 10px 15px 10px;
	box-shadow: 0px 0px 10px 0px var(--shadow-element);
	background-color: var(--background-wrapper);
	color: var(--color-light);
	font-size: 20px;
}

.exchequer-login {
	display: inline-block;
	width: 200px;
	margin: 0px 20px 0px 0px;
}

.exchequer-contribution {
	display: inline-block;
	width: 200px;
	margin: 0px 20px 0px 0px;
	text-align: center;
}

.exchequer-tax {
	display: inline-block;
	width: 200px;
	margin: 0px 20px 0px 0px;
	padding: 10px 5px;
	border-radius: 5px;
	text-align: center;
}

.exchequer-weeklynorm {
	display: inline-block;
	width: 200px;
	margin: 0px 20px 0px 0px;
	padding: 10px 5px;
	border-radius: 5px;
	text-align: center;
}

.exchequer-rebuke {
	display: inline-block;
	width: 100px;
	margin: 0px 0px 0px 20px;
	text-align: center;
}

.exchequer-warning {
	display: inline-block;
	width: 100px;
	margin: 0px 0px 0px 0px;
	text-align: center;
	font-size: 18px;
}

.contribution-value {
	width: 200px;
	height: 20px;
	padding: 10px 5px;
	border: none;
	border-radius: 5px;
	background-color: var(--background-fon);
	color: var(--color-light);
	font-size: 18px;
	outline: none;
}

.exchequer-tax-passed {
	margin: 0px 0px 0px 10px;
	padding: 5px 22px;
	border-radius: 5px;
	border: none;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 18px;
	cursor: pointer;
	transition: 0.3s;
}

.exchequer-tax-passed:hover {
	background-color: var(--background-element-hover);
	color: var(--color-light);
}

.exchequer-tax-failed {
	margin: 0px 8px;
	padding: 5px 20px;
	border-radius: 5px;
	border: none;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 18px;
	cursor: pointer;
	transition: 0.3s;
}

.exchequer-tax-failed:hover {
	background-color: var(--background-element-hover);
	color: var(--color-light);
}

.exchequer-weeklynorm-passed {
	margin: 0px 0px 0px 12px;
	padding: 5px 22px;
	border-radius: 5px;
	border: none;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 18px;
	cursor: pointer;
	transition: 0.3s;
}

.exchequer-weeklynorm-passed:hover {
	background-color: var(--background-element-hover);
	color: var(--color-light);
}

.exchequer-weeklynorm-failed {
	margin: 0px 0px 0px 8px;
	padding: 5px 20px;
	border-radius: 5px;
	border: none;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 18px;
	cursor: pointer;
	transition: 0.3s;
}

.exchequer-weeklynorm-failed:hover {
	background-color: var(--background-element-hover);
	color: var(--color-light);
}

.exchequer-rebuke-passed {
	margin: 0px 0px 0px 50px;
	padding: 5px 20px;
	border-radius: 5px;
	border: none;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 18px;
	cursor: pointer;
	transition: 0.3s;
}

.exchequer-rebuke-passed:hover {
	background-color: var(--background-element-hover);
	color: var(--color-light);
}

.exchequer-rebuke-passed-button {
	margin: 0px 0px 0px 15px;
	padding: 5px 5px;
	border-radius: 5px;
	border: none;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 18px;
	cursor: pointer;
	transition: 0.3s;
}

.exchequer-rebuke-passed-button:hover {
	background-color: var(--background-element-hover);
	color: var(--color-light);
}

.exchequer-rebuke-passed-remove-button {
	margin: 0px 0px 0px 5px;
	padding: 5px 5px;
	border-radius: 5px;
	border: none;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 18px;
	cursor: pointer;
	transition: 0.3s;
}

.exchequer-rebuke-passed-remove-button:hover {
	background-color: var(--background-element-hover);
	color: var(--color-light);
}

.exchequer-form {
	display: inline-block;
	position: relative;
	margin: 10px 0px 0px 0px;
}

.exchequer-list-control {
	margin: 0px 0px 0px 225px;
}