:root {

/*Цвет фона*/
	--background-dark: #1c1c1c;
	--background-light: #292929;
	--background-verylight: #363636;
	--background-element: #39424f;
	--background-element-hover: #485363;
	--background-element-second: #384362;
	--background-wrapper: #313843;
	--background-wrapper-second: #0F1628;
	--background-fon: #292f39;
	--background-warning: #cf231d;

	--shadow-element: #1e1e1e;
	--shadow-warning: #ed1d15;

/*Цвет текста*/
  --color-white: #ffffff;
  --color-light: #bdbdbd;
  --color-dark: #1c1c1c;
  --color-warning: #f2aeae;

/*Выделение*/
  --highlighting: #323232;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: var(--background-fon);
}

#auth {
	position: absolute;
	left: 50%;
	top: 300px;
	width: 800px;
	height: 170px;
	margin: 0px 0px 0px -400px;
	background: #1c1c1c;
	border-radius: 20px;
}

#welcome-text {
	color: #adadad;
	margin: 20px;
	font-size: 25px;
	text-align: center;
}

#link-auth {
	position: absolute;
	left: 50%;
	margin: 0px 0px 0px -119px;
	padding: 6px 10px 10px 10px;
	background-color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 10px;
	color: #1c1c1c;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
	transition: 0.2s;
}

#link-auth:hover {
	background-color: #1c1c1c;
	border-radius: 10px;
	color: #ffffff;
	text-decoration: none;
	padding: 6px 10px 10px 10px;
}

#menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;	
	width: 100%;
	height: 70px;
	background-color: #1c1c1c;
	z-index: 2;

}

#wrapper {
	position: relative;
	width: 1240px;
	margin: 0px auto;
}

#clan-img {
	width: 1240px;
	margin: 100px auto 10px auto;
	border-radius: 20px;
}

#main {
	height: 1000px;
	margin: 100px auto;
	border-radius: 20px;
	background-color: var(--background-wrapper);
}

.menu-element {
	display: inline-block;
	margin: 13px 10px;
	padding: 10px;
	border-radius: 10px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	transition: 0.3s;
}

.menu-element:hover {
	background-color: #ffffff;
	color: #1c1c1c;
}

#account {
	padding: 20px 10px;
	border-left: 2px solid #ffffff;
}

#name {
	margin: 5px;
	padding: 5px 10px;
	float: right;
	color: #ffffff;
	font-size: 40px;
	cursor: pointer;
	transition: 0.3s;
}

#name:hover {
	transform: scale(1.1);
}