:root {

/*Цвет фона*/
	--background-dark: #1c1c1c;
	--background-light: #292929;
	--background-verylight: #363636;
	--background-element: #39424f;
	--background-element-hover: #485363;
	--background-element-second: #384362;
	--background-wrapper: #313843;
	--background-wrapper-second: #0F1628;
	--background-fon: #292f39;
	--background-warning: #cf231d;

	--shadow-element: #1e1e1e;
	--shadow-warning: #ed1d15;

/*Цвет текста*/
  --color-white: #ffffff;
  --color-light: #bdbdbd;
  --color-dark: #1c1c1c;
  --color-warning: #f2aeae;

/*Выделение*/
  --highlighting: #323232;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: var(--background-fon);
}

body ::-webkit-scrollbar {
  width: 10px;               /* ширина всей полосы прокрутки */
}

body ::-webkit-scrollbar-track {
  background: #363636;        /* цвет зоны отслеживания */
  border-radius: 10px;  
}

body ::-webkit-scrollbar-thumb {
  background-color: #515151;    /* цвет бегунка */
  border-radius: 5px;       /* округлось бегунка */
}

#background-dark {
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
	background: rgba(10, 10, 10, 0.8);
	width: 1000%;
	height: 1000%;
	z-index: 3;
	animation-name: open;
	animation-duration: 0.3s;
}

@keyframes open {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

#auth {
	position: absolute;
	left: 50%;
	top: 300px;
	width: 800px;
	height: 170px;
	margin: 0px 0px 0px -400px;
	background: #1c1c1c;
	border-radius: 20px;
}

#welcome-text {
	color: #adadad;
	margin: 20px;
	font-size: 25px;
	text-align: center;
}

#link-auth {
	position: absolute;
	left: 50%;
	margin: 0px 0px 0px -119px;
	padding: 6px 10px 10px 10px;
	background-color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 10px;
	color: #1c1c1c;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
	transition: 0.2s;
}

#link-auth:hover {
	background-color: #1c1c1c;
	border-radius: 10px;
	color: #ffffff;
	text-decoration: none;
	padding: 6px 10px 10px 10px;
}

#main {
	position: relative;
	width: 1240px;
	height: 1000px;
	padding: 10px;
	margin: 100px auto;
	border-radius: 20px;
}

.squad-list {
	position: relative;
	float: left;
	width: calc(50% - 10px);
	margin: 0px 10px 10px 0px;
	padding: 0px 0px 10px 0px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 1px var(--shadow-element);
	background-color: var(--background-wrapper);
}

.squad-label {
	display: block;
	margin: 0px 0px 10px 0px;
	padding: 7px 0px 10px 0px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px var(--shadow-element);
	background-color: var(--background-wrapper);
	color: var(--color-light);
	font-size: 25px;
	font-weight: 500;
	text-align: center;
}

.add-squad {
	position: absolute;
	display: inline-block;
	top: 10px;
	right: 10px;
	padding: 5px 10px 8px 10px;
	border: 2px solid var(--background-element);
	border-radius: 10px;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 25px;
	font-weight: 500;
	z-index: 1;
	cursor: pointer;
	transition: 0.2s;
}

.add-squad:hover{
	border: 2px solid var(--background-element-hover);
	background-color: var(--background-element-hover);
	color: var(--color-light);
}

.squad-name {
	display: block;
	padding: 10px 0px;
	border-radius: 10px 10px 0px 0px;
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: 10px 10px;
	color: #1c1c1c;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
}

.squad-user {
	display: block;
	float: left;
	width: calc(50% - 40px);
	margin: 10px 5px 5px 10px;
	padding: 10px 10px;
	border-radius: 5px;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 20px;
}

.squad-description-wrapper {
	display: block;
}

.squad-description {
	width: calc(100% - 20px);
	display: inline-block;
	margin: 10px 10px;
	padding: 3px 0px 5px 0px;
	border-radius: 5px;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 25px;
	text-align: center;
}

.squad-description-text {
	display: inline-block;
	width: calc(100% - 30px);
	height: 100px;
	margin: 0px 10px;
	padding: 5px;
	border-radius: 5px;
	background-color: var(--background-fon);
	color: var(--color-light);
	font-size: 20px;
	overflow: auto;
}

.squad-user-position-wrapper {
	position: relative;
	display: block;
	float: left;
	width: calc(50% - 18px);
	margin: 10px 5px 5px 10px;
	border-radius: 8px;
	background-color: var(--background-fon);
	color: var(--color-light);
}

.squad-user-position {
	display: block;
	float: left;
	width: 100%;
	margin: 10px 0px;
	padding: 5px 0px;	
	font-size: 20px;
	text-align: center;
	cursor: pointer;
}

.squad-user-position-label {
	color: #ffffff;
}

.close-squad-user-position-list {
	position: absolute;
	display: none;
	float: right;
	top: 52px;
	right: 0px;
	margin: -40px 10px 0px 0px;
	padding: 2px 10px 5px 10px;
	border-radius: 5px;
	background-color: var(--background-fon);
	color: var(--color-light);
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
}

.squad-user-position-mainpvp-list {
	position: absolute;
	display: none;
	float: left;
	top: 60px;
	width: 100%;
	margin: 10px 0px;
	padding: 0px 0px 10px 0px;
	border-radius: 10px;
	background-color: var(--background-fon);
	color: var(--color-light);
	font-size: 20px;
	text-align: center;
	transition: 0.2s;
	z-index: 10;
}

.squad-user-position-row-link {
	position: relative;
	display: block;
	float: left;
	width: calc(100% - 20px);
	margin: 10px 10px 10px 10px;
	padding: 5px 0px;
	border-radius: 5px;
  background-color: var(--background-fon);
	color: var(--color-light);
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	transition: 0.2s;
}

.squad-user-position-row-link:hover {
	background-color: var(--background-fon);
}

.squad-user-position-row {
	position: relative;
	display: block;
	float: left;
	width: calc(100% - 20px);
	margin: 10px 10px 0px 10px;
	padding: 5px 0px;
	border: none;
	border-radius: 5px;
	background-color: var(--background-wrapper);
	color: var(--color-light);
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	transition: 0.2s;
}

.squad-user-position-row:hover {
	background-color: var(--background-element);
	color: var(--color-light);
}

.squad-user-position-row-del {
	position: relative;
	display: block;
	float: left;
	width: calc(100% - 20px);
	margin: 10px 10px 0px 10px;
	padding: 5px 0px;
	border: 2px solid #a11616;
	border-radius: 5px;
	background-color: #a11616;
	color: #1c1c1c;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	cursor: pointer;
	transition: 0.2s;
}

.squad-user-position-row-del:hover {
	border: 2px solid var(--background-warning);
	background-color: var(--background-warning);
	color: var(--color-light);
}

.squad-setting {
	display: none;
	position: absolute;
	z-index: 9;
	width: 100%;
	margin: 10px 0px 0px 0px;
	border-top: 2px solid var(--background-element);
	border-radius: 0px 0px 10px 10px;
	background-color: var(--background-wrapper);
	color: var(--color-light);
}

.squad-add {
	display: none;
	position: fixed;
	z-index: 10;
	top: 200px;
	left: 50%;
	width: 600px;
	margin: auto -300px;
	border-radius: 10px;
	background-color: var(--background-wrapper);
}

.add-squad-close {
	position: absolute;
	top: 0px;
	right: -50px;
	padding: 5px 12px 9px 12px;
	border-radius: 5px;
	background-color: var(--background-wrapper);
	color: var(--color-light);
	font-weight: 500;
	font-size: 20px;
	cursor: pointer;
}

.open-setting {
	display: block;
	float: right;
	width: 24px;
	margin: -5px 5px 0px 0px;
	padding: 10px;
	cursor: pointer;
	transition: 0.2s;
}

.open-setting:hover {
	transform: scale(1.3);
}

.close-setting {
	display: none;
	float: right;
	width: 24px;
	margin: -5px 5px 0px 0px;
	padding: 10px;
	cursor: pointer;
	transition: 0.2s;
}

.close-setting:hover {
	transform: scale(1.3);
}


.squad-setting-label {
	display: block;
	width: calc(100% - 20px);
	margin: 10px 10px 0px 10px;
	padding: 5px 0px;
	border-radius: 5px;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 20px;
	text-align: center;
}

.squad-setting-name {
	display: block;
	width: calc(100% - 40px);
	margin: 10px 10px 0px 10px;
	padding: 5px 0px  5px 20px;
	border-radius: 5px 5px 0px 0px;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 20px;
	text-align: left;
}

.squad-setting-name-input {
	display: block;
	width: calc(100% - 44px);
	margin: 0px 10px 0px 10px;
	padding: 10px;
	border: 2px solid var(--background-element);
	border-top: none;
	border-radius:  0px 0px 5px 5px;
	background-color: var(--background-fon);
	color: var(--color-light);
	font-size: 24px;
	outline: none;
}

.squad-setting-color-label {
	display: inline-block;
	width: calc(50% - 40px);
	margin: 0px 10px 0px 10px;
	padding: 5px 0px  5px 20px;
	border-radius: 5px;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 20px;
	text-align: left;	
}

.squad-setting-color {
	display: inline;
	width: 100px;
	height: 35px;
	margin: 4px 0px 0px -120px;
	border: 0px;
	border-radius: 5px;
	background-color: var(--background-wrapper);
	cursor: pointer;
}

.squad-setting-type-label {
	display: inline-block;
	width: calc(25% - 25px);
	margin: 4px 5px 0px 10px;
	padding: 5px 0px 5px 10px;
	border-radius: 5px;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 20px;
	text-align: left;
}

.squad-setting-type {
	float: right;
	display: inline-block;
	width: calc(25% - 0px);
	margin: 10px 10px 0px 0px;
	padding: 5px 0px 5px 10px;
	border: none;
	border-radius: 5px;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 20px;
	outline: none;
	cursor: pointer;
}

.squad-setting-description {
	display: block;
	width: calc(100% - 40px);
	margin: 10px 10px 0px 10px;
	padding: 5px 0px  5px 20px;
	border-radius: 5px 5px 0px 0px;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 20px;
	text-align: left;
}

.squad-setting-description-input {
	display: block;
	width: calc(100% - 44px);
	margin: 0px 10px 0px 10px;
	height: 100px;
	padding: 5px 10px;
	border: 2px solid var(--background-element);
	border-top: none;
	border-radius:  0px 0px 5px 5px;
	background-color: var(--background-fon);
	color: var(--color-light);
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	outline: none;
	resize: none;
}

.squad-setting-btn {
	float: right;
	margin: 10px 10px 10px 0px;
	padding: 10px 20px;
	border: 2px solid var(--background-element);
	border-radius: 5px;
	background-color: var(--background-element);
	color: var(--color-light);
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
	transition: 0.2s;
}

.squad-setting-btn:hover {
	border: 2px solid var(--background-element-hover);
	background-color: var(--background-element-hover);
	color: var(--color-light);
}

.squad-setting-del {
	float: right;
	margin: 10px 10px 10px 0px;
	padding: 10px 20px;
	border: 2px solid #a11616;
	border-radius: 5px;
	background-color: #a11616;
	color: #1c1c1c;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
	transition: 0.2s;
}

.squad-setting-del:hover {
	border: 2px solid var(--background-warning);
	background-color: var(--background-warning);
	color: var(--color-light);
}
