:root {

/*Цвет фона*/
	--background-dark: #1c1c1c;
	--background-light: #292929;
	--background-verylight: #363636;
	--background-element: #39424f;
	--background-element-second: #384362;
	--background-wrapper: #313843;
	--background-wrapper-second: #0F1628;
	--background-fon: #292f39;
	--background-warning: #cf231d;

	--shadow-element: #1e1e1e;

/*Цвет текста*/
  --color-white: #ffffff;
  --color-light: #bdbdbd;
  --color-dark: #1c1c1c;

/*Выделение*/
  --highlighting: #323232;
}

body {
	background-color: var(--background-fon);
}

#main {
	position: relative;
	padding: 10px;
	width: 1240px;
	margin: 100px auto;
	border-radius: 20px;
}

#user-warning {
	width: calc(100%);
	height: 100px;
	margin: 0px 0px 10px 0px;
	border-radius: 10px;
	background-color: var(--background-warning);
}

#user-info {
	float: left;
	width: calc(50% - 25px);
	height: 350px;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 1px var(--shadow-element);
	background-color: var(--background-wrapper);
}

#user-info-login {
	display: inline-block;
	width: 100%;
	padding: 5px 0px;
	border-radius: 10px;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 25px;
	text-align: center;
}

#user-info-rank-label {
	display: inline-block;
	padding: 10px 10px;
	width: 20%;
	margin: 10px 5px 10px 0px;
	border-radius: 10px 0px 0px 10px;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 20px;
	text-align: center;
}

#user-info-rank {
	display: inline-block;
	width: 25%;
	padding: 10px 10px;
	margin: 10px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 20px;
	text-align: center;
}

#user-info-in-klan-date {
	display: inline-block;
	width: 40.5%;
	padding: 10px 10px;
	margin: 10px 0px 10px 0px;
	border-radius: 10px;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 20px;
	text-align: center;
}

#user-info-squad-label {
	display: inline-block;
	width: 118px;
	padding: 30px 10px 24px 10px;
	margin: 0px 0px 10px 0px;
	border-radius: 10px 0px 0px 10px;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 20px;
	text-align: center;
}

#user-info-squad {
	display: inline-block;
	width: 71.5%;
	padding: 20px 10px;
	margin: 0px 0px 10px 6px;
	border-radius: 0px 10px 10px 0px;
	color: var(--color-light);
	font-size: 30px;
	text-align: center;
	background-repeat: no-repeat;
	background-size: 60px;
	background-position: 15px 8px ;
}

#user-info-border {
	display: inline-block;
	width: calc(100% - 6px);
	margin: 0px 0px 20px 0px;
	border: 1px solid var(--background-element);
}

#user-info-attendance-box {
	float: left;
	display: inline-block;
	width: calc(50% - 5px);
}

#user-info-attendance-label {
	display: inline-block;
	width: calc(100% - 0px);
	padding: 5px 0px;
	margin: -10px 0px 10px 0px;
	border-radius: 10px;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 20px;
	text-align: center;
}

#user-info-attendance-was {
	float: left;
	display: inline-block;
	width: calc(50% - 20px);
	padding: 10px 10px;
	margin: 0px 0px 10px 0px;
	border-radius: 10px;
	background-color: var(--background-element);
	color: var(--color-light);
	text-align: center;
}

#user-info-attendance-wasnot {
	float: right;
	display: inline-block;
	width: calc(50% - 27px);
	padding: 10px 10px;
	margin: 0px 0px 10px 0px;
	border-radius: 10px;
	background-color: var(--background-element);
	color: var(--color-light);
	text-align: center;
}

#user-info-punishments-box {
	float: right;
	display: inline-block;
	width: calc(50% - 5px);
}

#user-info-punishments-label {
	display: inline-block;
	width: calc(100% - 0px);
	padding: 5px 0px;
	margin: -10px 0px 10px 0px;
	border-radius: 10px;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 20px;
	text-align: center;
}

#user-info-punishments-warn {
	float: left;
	display: inline-block;
	width: calc(50% - 20px);
	padding: 10px 10px;
	margin: 0px 0px 10px 0px;
	border-radius: 10px;
	background-color: var(--background-element);
	color: var(--color-light);
	text-align: center;
}

#user-info-punishments-pred {
	float: right;
	display: inline-block;
	width: calc(50% - 27px);
	padding: 10px 10px;
	margin: 0px 0px 10px 0px;
	border-radius: 10px;
	background-color: var(--background-element);
	color: var(--color-light);
	text-align: center;
}

#user-info-border {
	display: inline-block;
	width: calc(100% - 6px);
	margin: 0px 0px 20px 0px;
	border: 1px solid var(--background-element);
}

#user-info-exchequer-label {
	float: left;
	display: inline-block;
	width: calc(50% - 25px);
	padding: 10px 10px;
	margin: -15px 0px 10px 0px;
	border-radius: 10px;
	background-color: var(--background-element);
	color: var(--color-light);
	text-align: center;
}

#user-info-exchequer-value {
	float: right;
	display: inline-block;
	width: calc(50% - 25px);
	padding: 10px 10px;
	margin: -15px 0px 10px 0px;
	border-radius: 10px;
	background-color: var(--background-element);
	color: var(--color-light);
	text-align: center;
}

#user-armor-kv {
	float: right;
	width: calc(50% - 30px);
	height: 350px;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 1px var(--shadow-element);
	background-color: var(--background-wrapper);
}

#equipment-gun-box {
	position: relative;
	display: inline-block;
	width: 60%;
	height: 145px;
	margin: 10px 0px 0px 0px;
	border-radius: 10px;
	overflow: hidden;
}

#equipment-gun-img {
	margin: -130px 0px 0px 0px;
	background-color: red;
	transform: scale(1.2);
}

#equipment-gun-name {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 5px;
	z-index: 100;
	background-color: rgba(20, 20, 20, 0.6);
	text-align: center;
}

#equipment-armor-box {
	position: relative;
	float: right;
	width: calc(40% - 10px);
	height: 300px;
	margin: 10px 0px 0px 0px;
	border-radius: 10px;
	overflow: hidden;
	background-color: red;
}

#equipment-armor-img {
	margin: -55px 0px 0px -60px;
	background-color: red;
	transform: scale(1.2);
}

#equipment-second-gun-box {
	position: relative;
	display: inline-block;
	width: 60%;
	height: 145px;
	margin: 5px 0px 0px 0px;
	border-radius: 10px;
	overflow: hidden;
}

#equipment-second-gun-img {
	margin: -130px 0px 0px 0px;
	background-color: red;
	transform: scale(1.2);
}

#equipment-second-gun-name {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 5px;
	z-index: 100;
	background-color: rgba(20, 20, 20, 0.6);
	text-align: center;
}

#user-armor-kv-label {
	display: inline-block;
	width: 100%;
	padding: 5px 0px;
	border-radius: 10px;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 25px;
	text-align: center;
}

#user-armor {
	display: inline-block;
	width: calc(100% - 20px);
	height: 200px;
	margin: 10px 0px 0px 0px;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 1px var(--shadow-element);
	background-color: var(--background-wrapper);
}

#user-armor-label {
	display: inline-block;
	width: calc(100%);
	padding: 5px 0px;
	border-radius: 10px;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 25px;
	text-align: center;
}