:root {

/*Цвет фона*/
	--background-dark: #1c1c1c;
	--background-light: #292929;
	--background-verylight: #363636;
	--background-element: #0F1628;
	--background-element-second: #384362;
	--background-wrapper: #172241;
	--background-wrapper-second: #0F1628;
	--background-fon: #2F3B5B;
	--background-warning: #cf231d;

/*Цвет текста*/
  --color-white: #ffffff;
  --color-light: #C8D4FF;
  --color-dark: #1c1c1c;

/*Выделение*/
  --highlighting: #323232;
}

body {
	background-color: var(--background-fon);
}

#main {
	position: relative;
	padding: 10px;
	width: 1240px;
	margin: 100px auto;
	border-radius: 20px;
}

#user-warning {
	width: calc(100%);
	height: 100px;
	margin: 0px 0px 10px 0px;
	border-radius: 10px;
	background-color: var(--background-warning);
}

#user-info {
	width: calc(100% - 20px);
	height: 300px;
	padding: 10px;
	border-radius: 20px;
	background-color: var(--background-wrapper);
}

#user-info-login {
	display: inline-block;
	width: 100%;
	padding: 5px 0px;
	border-radius: 10px;
	background-color: var(--background-element);
	color: var(--color-light);
	font-size: 25px;
	text-align: center;
}

#user-armor {
	width: calc(100%);
	height: 200px;
	margin: 10px 0px 0px 0px;
	border-radius: 10px;
	background-color: var(--background-wrapper);
}